@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
:root {
  --bg-main: #0b0f19;
  --bg-card: #111827;
  --color-primary: #6366f1;
  --color-primary_hover: #4f46e5;
  --text-main: #ffffff;
  --text-second: #9ca3af;
  --border-color: #1f2937;
  --font-main: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-main);
  }
  .background {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: #020617;
  }
  .background-glow {
    background-image: radial-gradient(
      circle 500px at 50% 100px,
      rgba(139, 92, 246, 0.4),
      transparent
    );
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .text-gradient {
    background: var(--bg-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* opacity: 0; */
    background-clip: text;
    /* font-weight: 600; */
  }
  .overlay {
    background: linear-gradient(90deg, rgba(124, 58, 237, 1) 0%, #ede9fe 93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .green {
    background: linear-gradient(90deg, rgba(34, 197, 94, 1) 0%, #dcfce7 95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .background-image {
    background: radial-gradient(
      circle at 70% 40%,
      rgba(99, 102, 241, 0.25),
      transparent 60%
    );
  }
}
