@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
:root {
  --bg-main: #0b0f19;
  --bg-card: #111827;
  --color-primary: #6366f1;
  --color-primary_hover: #4f46e5;
  --text-main: #ffffff;
  --text-second: #9ca3af;
  --border-color: #1f2937;
  --font-main: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-main);
  }
  .background {
    height: 100%;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    background: #020617;
  }
  .background-glow {
    background-image: radial-gradient(
      circle 500px at 50% 100px,
      rgba(139, 92, 246, 0.4),
      transparent
    );
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .text-gradient {
    background: var(--bg-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* opacity: 0; */
    background-clip: text;
    /* font-weight: 600; */
  }
  .overlay {
    background: linear-gradient(90deg, rgba(124, 58, 237, 1) 0%, #ede9fe 93%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .green {
    background: linear-gradient(90deg, rgba(34, 197, 94, 1) 0%, #dcfce7 95%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .background-image {
    background: radial-gradient(
      circle at 70% 40%,
      rgba(99, 102, 241, 0.25),
      transparent 60%
    );
  }
  .background-feature {
    position: relative;
  }
  .background-feature-1,
  .background-feature-2,
  .background-feature-3 {
    position: relative;
    overflow: hidden; /* مهم */
  }
  .background-feature-1::before,
  .background-feature-2::before,
  .background-feature-3::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: url(./images/wave-haikei.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    opacity: 0.25;
    z-index: -1;
    transition: all 0.8s ease-in-out;
  }
  .background-feature-3::before {
    height: 90%;
  }
  .background-feature-2::before {
    height: 60%;
  }
  .background-feature-1::before {
    height: 30%;
  }
  .background-feature::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./images/wave-haikei.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    opacity: 0.7;
    z-index: -1;
  }
  .background-feature-1:hover::before,
  .background-feature-2:hover::before,
  .background-feature-3:hover::before {
    height: 100%;
    opacity: 1;
  }
}
html {
  overflow-x: hidden;
}
